<!-- <p class="p-3 bg-dark text-white">
    &copy;LogicHotspot
</p> -->

<!-- footer -->
<footer class="row bg-dark text-white">
    <div class="container">
        <div class="row ">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <img src="assets/images/logo-small-footer.png">
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><br>
                <p> © 2020 Logic Hotspot All Rights Reserved.</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <p> Kelowna, British Columbia, V1P<br>

                    Contact No: 1.250.469.9632, <br>Email: info@logichotspot.com

                </p>
            </div>
        </div>
    </div>
</footer>