<!-- <div class="p-3 bg-dark text-white">
    <h3>LogicHotspot</h3>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand"><img src="assets/images/logo-small.png"></a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="areas" routerLinkActive="active-link">Areas </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="blacklists" routerLinkActive="active-link">Blacklists </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="categories" routerLinkActive="active-link">Categories </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="nas" routerLinkActive="active-link">NAS </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="businesses" routerLinkActive="active-link">Business </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="countries" routerLinkActive="active-link">Country </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="states" routerLinkActive="active-link">State </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="cities" routerLinkActive="active-link">City </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="demo1" routerLinkActive="active-link">demo1 </a>
                </li>
            </ul>
        </div>
    </div>
</nav>