<div class="container">
    <div class="row">
        <h3 class="col-lg-10 pl-0 title">NAS List</h3>
        <ng-template [ngIf]="toggleAddModal">
            <button data-toggle="modal" data-target="#addNasModal" class="btn login_btn float-right col-lg-2"
                [style.background-color]="bgbtn" (click)="temp()" id="addNas">Add New</button></ng-template>
    </div>
    <br />
    <!-- <div class="row">
        <div class="col-md-8 col-sm-12 pl-0">
            <label>Search </label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Enter category name"
                    aria-describedby="basic-addon2" [(ngModel)]="searchText">
                <div class="input-group-append" (click)="searchCategory()">
                    <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>

        <div class="offset-md-2 col-md-2 col-sm-6 pr-0">
            <div class="row text-right">
                <label>Items per page</label>
                <select (change)="applyLimit($event.target.value)" class="form-control">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option *ngIf="total>=6" [value]="total">All</option>
                </select>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="table-responsive Area-table col-md-12 pl-0 pr-0">
            <mat-table class="table-bordered" [dataSource]="dataArr" matSort>
                <ng-container matColumnDef="nasname">
                    <mat-header-cell class="th" *matHeaderCellDef mat-sort-header>NAS</mat-header-cell>
                    <mat-cell class="td" *matCellDef="let obj">{{obj.nasname}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="shortname">
                    <mat-header-cell class="th" *matHeaderCellDef mat-sort-header>Shortname</mat-header-cell>
                    <mat-cell class="td" *matCellDef="let obj">{{obj.shortname}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="type">
                    <mat-header-cell class="th" *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                    <mat-cell class="td" *matCellDef="let obj">{{obj.type}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="secret">
                    <mat-header-cell class="th" *matHeaderCellDef mat-sort-header>Secret</mat-header-cell>
                    <mat-cell class="td" *matCellDef="let obj">{{obj.secret}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="server">
                    <mat-header-cell class="th" *matHeaderCellDef mat-sort-header>Server</mat-header-cell>
                    <mat-cell class="td" *matCellDef="let obj">{{obj.server}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="community">
                    <mat-header-cell class="th" *matHeaderCellDef mat-sort-header>Community</mat-header-cell>
                    <mat-cell class="td" *matCellDef="let obj">{{obj.community}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="description">
                    <mat-header-cell class="th" *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                    <mat-cell class="td" *matCellDef="let obj">{{obj.description}}</mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="active">
                    <mat-header-cell class="th" *matHeaderCellDef mat-sort-header>Active</mat-header-cell>
                    <mat-cell class="td" *matCellDef="let obj">
                        <mat-slide-toggle [(ngModel)]="obj.active" (change)="changeStatus(obj.id,obj.active)">
                        </mat-slide-toggle>
                    </mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="edit">
                    <mat-header-cell class="th" *matHeaderCellDef mat-sort-header>Edit</mat-header-cell>
                    <mat-cell data-toggle="modal" data-target="#editNasModal" class="td" *matCellDef="let obj">
                        <button mat-raised-button (click)="editNas(obj.id)">Edit</button></mat-cell>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <mat-header-cell class="th" *matHeaderCellDef mat-sort-header>Delete</mat-header-cell>
                    <mat-cell class="td" *matCellDef="let obj"><button mat-raised-button color="warn"
                            (click)="deleteNas(obj.id)">Delete</button></mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></mat-header-row>
                <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
            </mat-table>
        </div>
    </div>

    <div class="row justify-content-end">
        <div class="col-md-6">
            <br />
            <div class="dataTables_info" role="status" aria-live="polite">Showing {{startno}}
                to {{endno}} of {{total}}</div>
        </div>
        <div class="col-md-6">
            <div class="dataTables_paginate paging_simple_numbers">
                <br />
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item" *ngFor="let pg of totalpage;let i=index">
                            <a class="page-link" (click)="nextPage(i+1)">{{i+1}}</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- Edit category Modal -->
    <div class="modal fade" #editNasModal id="editNasModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Edit NAS</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form [formGroup]='editNasForm' (ngSubmit)="updateNas()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>NAS Name:</label>
                            <input type="text" class="form-control col-lg-12" id="nasname" placeholder="Enter NAS Name"
                                name="nasname" formControlName="nasname">
                            <p class="form-error"></p>
                        </div>
                        <div class="form-group">
                            <label>Shortname:</label>
                            <input type="text" class="form-control col-lg-12" id="shortname"
                                placeholder="Enter Shortame" name="shortname" formControlName="shortname">
                            <p class="form-error"></p>
                        </div>
                        <div class="form-group">
                            <label>Type:</label>
                            <input type="text" class="form-control col-lg-12" id="type" placeholder="Enter Type"
                                name="type" formControlName="type">
                            <p class="form-error"></p>
                        </div>
                        <div class="form-group">
                            <label>Ports:</label>
                            <input type="text" class="form-control col-lg-12" id="ports" placeholder="Ports"
                                name="ports" formControlName="ports">
                            <p class="form-error"></p>
                        </div>
                        <div class="form-group">
                            <label>Secret:</label>
                            <input type="text" class="form-control col-lg-12" id="secret" placeholder="Secret"
                                name="secret" formControlName="secret">
                            <p class="form-error"></p>
                        </div>
                        <div class="form-group">
                            <label>Server:</label>
                            <input type="text" class="form-control col-lg-12" id="server" placeholder="Server"
                                name="server" formControlName="server">
                            <p class="form-error"></p>
                        </div>
                        <div class="form-group">
                            <label>Community:</label>
                            <input type="text" class="form-control col-lg-12" id="community" placeholder="Community"
                                name="community" formControlName="community">
                            <p class="form-error"></p>
                        </div>
                        <div class="form-group">
                            <label>Description:</label>
                            <input type="text" class="form-control col-lg-12" id="description" placeholder="Description"
                                name="description" formControlName="description">
                            <p class="form-error"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Add nas Modal -->

    <div class="modal fade" #addNasModal id="addNasModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add new NAS</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form [formGroup]='addNasForm' (ngSubmit)="addNewNas()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>NAS Name:</label>
                            <input type="text" class="form-control col-lg-12" id="nasName" placeholder="Enter NAS Name"
                                name="nasName" formControlName="nasName">
                            <p class="form-error"></p>
                        </div>
                        <div class="form-group">
                            <label>Shortname:</label>
                            <input type="text" class="form-control col-lg-12" id="shortName"
                                placeholder="Enter Shortame" name="shortName" formControlName="shortName">
                            <p class="form-error"></p>
                        </div>
                        <div class="form-group">
                            <label>Type:</label>
                            <input type="text" class="form-control col-lg-12" id="Type" placeholder="Enter Type"
                                name="Type" formControlName="Type">
                            <p class="form-error"></p>
                        </div>
                        <div class="form-group">
                            <label>Ports:</label>
                            <input type="text" class="form-control col-lg-12" id="Ports" placeholder="Ports"
                                name="Ports" formControlName="Ports">
                            <p class="form-error"></p>
                        </div>
                        <div class="form-group">
                            <label>Secret:</label>
                            <input type="text" class="form-control col-lg-12" id="Secret" placeholder="Secret"
                                name="Secret" formControlName="Secret">
                            <p class="form-error"></p>
                        </div>
                        <div class="form-group">
                            <label>Server:</label>
                            <input type="text" class="form-control col-lg-12" id="Server" placeholder="Server"
                                name="Server" formControlName="Server">
                            <p class="form-error"></p>
                        </div>
                        <div class="form-group">
                            <label>Community:</label>
                            <input type="text" class="form-control col-lg-12" id="Community" placeholder="Community"
                                name="Community" formControlName="Community">
                            <p class="form-error"></p>
                        </div>
                        <div class="form-group">
                            <label>Description:</label>
                            <input type="text" class="form-control col-lg-12" id="Description" placeholder="Description"
                                name="Description" formControlName="Description">
                            <p class="form-error"></p>
                        </div>
                        <div class="form-group form-error" *ngIf="errorFetch">
                            You cannot add more than one entry.
                        </div>
                        <!-- <p class="form-error"  [(ngModel)]="errorFetch" *ngIf="errorFetch"></p> -->
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>